apiVersion: v1
kind: Namespace
metadata:
  name: maersk

---
apiVersion: v1
kind: Secret
metadata:
  name: backend-secrets
  namespace: maersk
type: Opaque
stringData:
  API_KEY: dev-key

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: booking-backend
  namespace: maersk
spec:
  replicas: 1
  selector:
    matchLabels:
      app: booking-backend
  template:
    metadata:
      labels:
        app: booking-backend
    spec:
      containers:
        - name: app
          image: your-registry/booking-backend:1.0.0
          ports:
            - containerPort: 8080
          env:
            - name: MONGODB_URI
              value: mongodb://mongo:27017/maersk_bookings
            - name: EXTERNAL_BASE_URL
              value: http://wiremock:8080
---
apiVersion: v1
kind: Service
metadata:
  name: booking-backend
  namespace: maersk
spec:
  selector:
    app: booking-backend
  ports:
    - name: http
      port: 8080
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo
  namespace: maersk
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongo
  template:
    metadata:
      labels:
        app: mongo
    spec:
      containers:
        - name: mongo
          image: mongo:6
          ports:
            - containerPort: 27017
---
apiVersion: v1
kind: Service
metadata:
  name: mongo
  namespace: maersk
spec:
  selector:
    app: mongo
  ports:
    - port: 27017
      targetPort: 27017
